<% if @treats.size > 0 %>
<h4>Неиспользованные награды</h4>
<table class="table table-striped">
  <tbody>
  <% @treats.each do |treat| %> 
      <% if treat.impulsetreattype %>
      <tr><td>
         <p><strong><%= treat.impulsetreattype.title %></strong></p>
      </td>
      <td>
          <%= with_new_lines treat.impulsetreattype.description %>
      </td>
      <td>
           <%= button_to("Использовать", eatit_treat_path(treat), :method => "post", remote: true, :class => 'btn btn-large btn-primary') %>
      </td>
      </tr>
      <% else %>
        <tr><td><p><strong><%= treat.id %></strong></p></td></tr>
      <% end %>
  <% end %>
 </tbody>
</table>
<% end %>
