
<h3>Состояние окружающей стреды кабинета 254</h3>

<br><br>
<br><br>

<p>
    <span style="color:gray">Влажность: <%= @env.humidity %></span>    <br />
    <span style="color:gray">Температура: <%= @env.temperature %></span>    <br />
    <span style="color:gray">Данные обновлены: <%= @env.dt.strftime("%d.%m.%y %H:%M") %></span> <br />
</p>


<br><br>
<br><br>
<br><br>
<br><br>
<br><br>


<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
