<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Поздравления! Новый пользователь: <%= @user.name %></h3>
    <p>E-mail: <%= @user.email %></p>    
    <br><br>
    <p><%= link_to "Профайл", "www.nodelay.ru/" + user_path(@user) %></p>
  </body>
</html>