<% if @caltoday.size > 0 %>
  <h4>Сегодня (<%= DateTime.now.strftime("%d.%m.%Y") %>)</h4>
  <% @daytasks = @caltoday %>
  <div id="today_tasks">
    <%= render 'onedaylist' %>
  </div>
<% end %>

<% if @caltomorrow.size > 0 %>
<h4>Завтра (<%= DateTime.now.tomorrow.strftime("%d.%m.%Y") %>)</h4>
  <% @daytasks = @caltomorrow %>
  <div id="today_tasks">
    <%= render 'onedaylist' %>
  </div>
<% end %>


