<div id="agenda">
  <%= render 'agendaform' %>
</div>

<br><br>

<div id="new_task">
  <%= render 'form' %>
</div>

<br>

<div id="new_project">
  <%= render 'projects/shortform' %>
</div>
