<br>
<h4>Real Life RPG</h4>
<br>

<p>Метод, который использует Idler бьет в самую нашу аддиктивную базу. Бывает так, (увы, да) что ни один из методов вам уже не помогает. Внутренний ребенок на любую попытку развести его поработать срывается на крик, плач, визг и топот ног. Никакие уговоры, никакие bringiton'ы на него уже не подействуют. Но есть метод, который откроет любые ворота. Это игрофикация, а точнее real life RPG.</p>

<p>Про игрофикацию последние годы много шума, из каждой будки, помню, звучало. Но парадокс в том, что многие вообще не рубят в ядро аддиктивности игр, и переносят их в реальную жизнь скорее как карго–культ.</p>

<p>Секрет аддиктивности ролевых игр, с которых пытаются моделировать real–life RPG, в четырех вещах:</p>

<p>1. Положительное подкрепление в строго искусственных местах, заточенных специально под игрока: задача должна быть достаточно сложной, чтобы над ней попотеть, но при этом достаточно легкой, чтобы не начать фрустрировать.</p>
<p>2. Элемент неожиданности и сюрприза (энкаунтеры, лут и т.д.)</p>
<p>3. Игровая архитектура выбора</p>
<p>4. Наглядная видимость прогресса</p>

<p>Казалось бы, ну что сложного? А не могут. Основная проблема в том, что большинство игр излишне ригидны, и не учитывают того простого факта, что желания и импульсы людей меняются не то что каждый день, а каждый час. Но еще большую проблему представляет то, что создатели таких игр в упор не рассматривают этот самый элемент сюрприза.</p>

<p>Если мы вспомним голубя с зеленой кнопкой, то он конечно молодец, ему довольно интересно в нее тыкать и получать предсказуемый результат. Но стоит заменить этот результат на рандомный, как голубь сходит с ума, входит в раж и фигачит по кнопке как старушка в однорукий бандит. Люди в казино, люди в MMORPG и люди нажимающие f5 — природа их аддиктивности одна и та же: "Вау, сейчас мне снова нифига не выпало, но в какой–то из разов я увижу что–то очень классное! Попробую еще раз!" Это страшнейшая аддиктивная петля, которую можно использовать на благо, а не на саморазрушение и деградацию.</p>

<p>Вообще конечно, на такую тему одним сообщением не отделаешься, и я потом наверное еще допишу детали. Покаже же расскажу вкратце.</p>

<br>
<h4>Смысл затеи</h4>
<br>

<p>Сейчас слушайте внимательно. Я буду объяснять смысл всей затеи. Смысл правильной игрофикации — дрессировка вашей нервной системы. Проблема голубя и двух кнопок была в том, что фиолетовая кнопка была где–то там, а зеленая забирала с собой уже сейчас. Поэтому вместо добавления красной кнопки для вашего внутреннего голубя мы добавляем функционал для фиолетовой. Теперь при зажигании зеленой кнопки и внутренней борьбе фиолетовая кнопка тоже нажимабельная. И за то что вы остаетесь верны фиолетовой, при нажатии на неё вместо зернышка выпадет купон или билет на дополнительный выигрыш. Который после окончания можно будет обменять и забрать сюрприз.</p>

<p>Объясняю на практике. У вас в голове вращается куча мыслей и желаний. Импульс "проверить новости" ставит ваш мозг перед выбором сопротивляться соблазну или поддаться искушению. При этом сопротивление соблазну не дает ничего, а проверить новости тоже не дает ничего (но мы все знаем "Вау! В следующий раз мне точно повезет"). Так вот, тут нам нужна кнопка, в которую можно будет ткнуться в этот момент. Каждый раз, когда у вас возникает новый вредный импульс и вы при этом выбираете полезную тропинку, именно в этот момент подкрепляйте себя с помощью внешнего выбранного инструмента (очень важно, чтобы это был внешний инструмент). Конечно, каждый чих подкреплять не надо (наоборот, это очень вредно!), запомните: "задача должна быть достаточно сложной, чтобы над ней попотеть, но при этом достаточно легкой, чтобы не начать фрустрировать". Т.е. импульс должен быть такой сложности, чтобы вы могли про себя сказать "Я молодец, что не повелся".</p>

<p>Всё. Уже одна эта техника изменит вашу жизнь навсегда. А там еще бесконечная прорва неисчерпаемых возможностей впридачу.<p>

<br>
<h4>Теперь о вознаграждении.</h4>
<br>

<p>Что выбирать себе для награды? Один из лучших методов вознаграждения — это как раз то, чем вы и пытаетесь прокрастинировать. Заполните список импульсов своими типичными импульсивными желания. "Проверить новсти",отлично, пусть будет "проверить новости". Значит пусть после нажатия на кнопку у вас с каким–то шансом выпадет билет на проверку новостей (иногда справедливо давать 100% шанс, всё зависит от многих факторов, и главное, от вашего самочувствия). Для того чтобы держаться на пути какой–то одной сложной цели, вам нужно специальное вознаграждение по этой определенной цели. Поэтому один из способов — заносить любые импульсные желания, соразмерные на ваш личный взгляд вашим затраченным усилиям. В конце концов, вы потрудились, вы заслужили. При этом помните что награда должна быть для вас наградой, поэтому их надо периодически просматривать и вычеркивать неактуальные.</p>

<p>Третий очень важный аспект, о котором я уже говорил — сюрпризы. Дело в том, что любой выбор (даже выбор награды) включает мозг и приводит к небольшой фрустрации. Если вас ставят перед выбором: красная конфета, зеленая конфета или печенюшка, то даже в таком нелепом выборе вы все равно прикидываете варианты и вы осознаете, что остальные опции сгорают. Если же выбор сделан кем–то за вас, пусть даже и игральными кубиками, радость от выигрыша не замутняется никакой фрустрацией выбора ("ого, печенюшка!"). Это не я сейчас выдумываю на ходу, это тонны исследований.</p>

<p>Поэтому добавьте в таблицу "больших наград". Там может быть что угодно, что вам будет приятно, и таблица может быть насколько угодно большой, лишь бы вам было интересно и ненапряжно. Это может быть какой–нибудь массаж в спа–салоне или поход в ресторан, который вы обычно себе не позволяете, чтение какого–то сайта или игра в компьютерную игру. Затем при выпадении Награды, сайт сам разыграет вам один из них и вам останется только наслаждайться призом.</p>

<br>
<h4>Какие еще важные аспекты реализованы в Idler:</h4>
<br>

<p>* возможность написать комментарий к каждому импульму или делу. Таким образом можно вести "летопись" своих маленьких успехов и создавать видимый прогресс.</p>

<p>* вариабельность полученного опыта. Хотя это чисто виртуальные циферки, но они очень помогают: иногда вы большой молодец, иногда вы гигантский молодец, иногда такой себе молодец, иногда и дело–то не то чтоб крутое, чтоб за него полную стоимость брать. У каждого задания указывается его сложность. И именно столько баллов вы за него получите. Честность с самим собой — это залог интереса в такой игре, и такой вроде бы маленький вопрос на самом деле очень и очень важен.</p>

<p>* возможность покупки очень сильных хотелок за накоаленные баллы.</p>

<br>
<h4>Пока всё</h4>
<br>

<p>Самое главное, о чем надо помнить — не надо усложнять жизнь. Это все — способы сделать ее веселее и разнообразней, а не новая работа. Поэтому архитектура должна быть игровой: вам должно быть легко нажать одну кнопку и получить приз, а не добавлять проблем, чтобы помимо с трудом сделанного дела еще носиться и вычеркивать его из миллиона списков и просчитывать миллионы формул.</p>

<br>
<br>
(C)SpikOlaf
<br>
<br>
<br>
<br>
