<% @showproject = true %>
<br>
<h4>Задания</h4>
<div id="list_table">
  <%= render 'list' %>
</div>

<br><br><br>

<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Добавить задание</button>

<div id="new_task">
  <%= render 'form' %>
</div>
