<h3>Регистрация</h3>

<br>
<br>

<%= render 'form' %>


<br><br>
<br><br>
<br>


Здравствуйте. Вас приветствует NoDelay - сервис для борьбы с прокрастинацией.
<br><br>
Если вы уже зарегистрированы, то пройдите вот сюда:</span> <%= link_to "Логин", "log_in" %> 

<br><br>
<br><br>
<br><br>
<br>


