<h3>Регистрация</h3>

<br>
<br>

<%= form_for @user do |f| %>
  
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Случилась ошибка!</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= render 'form' %>

<% end %>

<br><br>

Если вы уже зарегистрированы, то пройдите вот сюда: <%= link_to "Логин", "log_in", :method => "get", :class => 'btn btn-large btn-primary' %> 

