<h3>Регистрация</h3>

<br>
<br>

<%= form_for @user do |f| %>
  
  <% if @user.errors.any? %>
    <div class="error_messages">
      <span style="color:white"><h2>Случилась ошибка!</h2></span>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= render 'form' %>

<% end %>

<br><br>
<br><br>

<span style="color:white">
Здравствуйте. Вас приветствует Idler - бесплатный сервис по борьбе с прокрастинаторством .
<br><br>
Если вы уже зарегистрированы, то пройдите вот сюда:</span> <%= link_to "Логин", "log_in" %> 

