<% if @user == current_user %>
  <h3>Вы</h3>
<% end %>

<br>

<p>Имя: <%= @user.name %></p>

<p>Баллы: <%= @user.score %></p>

<p>Шансы на награду за импульс: <%= @user.randchance %></p>

<br>
<br>

<% if @user == current_user %>
  <%= link_to "Изменить данные", edit_user_path(current_user), :method => "get", :class => 'btn btn-primary' %> 
<% end %>