<% if @projects.size > 0 %>
<h4>Проекты</h4>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Проект</th>
    <th>Тип</th>
    <th>Описание</th>
    <th>Создан</th>
  </tr>
  </thead>  
  <tbody>
  <% @projects.each do |proj| %> 
    <tr>
      <td><%= link_to proj.name, edit_project_path(proj) %></td>
      <td><%= proj.tip %></td>
      <td><%= proj.description %></td>
      <td><%= proj.created_at.strftime("%d.%m.%y") %></td>
    </tr>
  <% end %>
 </tbody>
</table>
<% end %>
