<% if @impulses.size > 0 %>
<h4>Свежие импульсы <%= link_to "...", impulses_path, :method => "get" %></h4>
<table class="table table-striped">
  <tbody>
  <% @impulses.each do |imp| %> 
    <tr>
      <td><%= imp.created_at.strftime("%d.%m %H:%M") %></td>
      <td><%= imp.impulsetreattype.title %></td>
      <td><small><%= imp.impulsetreattype.description %></small></td>
  </tr>
  <% end %>
 </tbody>
</table>
<% else %>
  <em>Импульсов пока не зарегистрировано. Даже странно.</em>
<% end %>