<h4>Импульсы</h4>
<br><br>


<% if @impulses.size > 0 %>
<table class="table table-striped">
  <tbody>
  <% @impulses.each do |imp| %> 
    <tr>
      <td><%= imp.created_at.strftime("%d.%m %H:%M") %></td>
      <td><%= imp.impulsetreattype.title %></td>
      <td><small><%= imp.impulsetreattype.description %></small></td>
      <td><%= imp.description %></td>
  </tr>
  <% end %>
 </tbody>
</table>
<% else %>
  <em>Импульсов пока не зарегистрировано. Даже странно.</em>
<% end %>